{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Minute taking web app">
  <meta name="author" content="Israel Fermin Montilla">

  <title>{% block title %}..:: MinuteMate ::..{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'common/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'common/css/simple-sidebar.css' %}" rel="stylesheet">
  <!-- Block for section-specific css -->
  {% block css %}{% endblock %}

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <a href="." class="navbar-brand mx-auto">Minutes</a>

          <a href="{% url 'login' %}" class="btn btn-primary my-2 my-sm-0" id="login">Login</a>

      </nav>

      <div class="container-fluid">
          {% block content %}
          {% endblock %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'common/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'common/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Block for section-specific js -->
  {% block js %}{% endblock %}

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
