{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Minute taking web app">
  <meta name="author" content="Israel Fermin Montilla">

  <title>{% block title %}..:: MinuteMate ::..{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'common/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'common/css/simple-sidebar.css' %}" rel="stylesheet">
  <!-- Block for section-specific css -->
  {% block css %}{% endblock %}

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">MinuteMate</div>
      <div class="list-group list-group-flush">
        <a href="{% url 'minutes-list' %}" class="list-group-item list-group-item-action bg-light">Minutes</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">My Action Items</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Follow-up Action Items</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Account Settings</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'minutes-create' %}">New Minute<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'minutes-list' %}">Past Minutes</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action Items
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Mine</a>
                <a class="dropdown-item" href="#">Assigned to others</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
          {% block content %}
          {% endblock %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'common/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'common/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Block for section-specific js -->
  {% block js %}{% endblock %}

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
