{% extends 'common/external_base.html' %}

{% block content %}
<h1 class="text-center">Ops! account activation failed!</h1>
<p class="text-center">You took so long to activate your account it just got bored went away.</p>
<p class="text-center">Please, feel free to <a href="{% url 'django_registration_register' %}">register again</a></p>

{% endblock %}
