{% extends 'common/external_base.html' %}

{% block content %}
<h1 class="text-center">Your account is active now!</h1>
<p class="text-center">Please, <a href="{% url 'login' %}">login</a></p>
{% endblock %}
