{% extends 'common/external_base.html' %}

{% block content %}
<h1 class="text-center">Check your email!</h1>
<p class="text-center">Registration is complete, however, you'll have to activate your account.</p>
<p class="text-center">We sent you an email with the instructions.</p>

{% endblock %}
