{% extends 'common/external_base.html' %}

{% block content %}
<h1 class="text-center">Ops! too many users!</h1>
<p class="text-center">At the moment we have more users than we can handle, thank you for your interest, please do come back in a week or so...</p>

{% endblock %}
