{% extends 'common/external_base.html'%}
{% load bootstrap %}

{% block content %}
<h1 class="text-center">Welcome!</h1>

<p class="text-center">Minutes is an app to help you distribute your meeting notes while keeping them in the same place</p>
<p class="text-center">Minutes help you keep everyone in the same place after the meeting is over and keep track of what was agreed</p>

<h3 class="text-center">Register</h3>

<div id="registration-form" class="form-group mx-auto" style="width:600px">
    <form action="{% url 'django_registration_register' %}" method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" class="btn btn-large btn-primary">
    </form>
</div>
{% endblock %}
