{% extends 'common/external_base.html' %}
{% load bootstrap %}

{% block content %}
<h1 class="text-center">Login</h1>

<div id="login-form" class="form-group mx-auto" style="width:350px">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" class="btn btn-large btn-primary"> <a href="{% url 'django_registration_register' %}">Register</a>
    </form>
</div>

{% endblock %}
