{% extends 'common/internal_base.html' %}

{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Created</th>
            <th scope="col">Last update</th>
        </tr>
    </thead>
    <tbody>
        {% for minute in minutes %}
            <tr>
                <td><a href="{% url 'minutes-detail' minute_id=minute.pk %}">{{ minute.title }}</a></td>
                <td>{{ minute.created_at }}</td>
                <td>{{ minute.updated_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
