{% extends 'common/internal_base.html' %}
{% load markdownify %}

{% block content %}
<h1>{{ minute.title }}</h1>
<p><b>Owned by:</b> {% if minute.owner.get_full_name %}{{ minute.owner.get_full_name }}{% else %}{{ minute.owner.username }}{% endif %}</p>
<p><b>Created:</b> {{ minute.created_at }} </p>
<p><b>Last update:</b> {{ minute.updated_at }} </p>
<h2>Attendees</h2>
{% if minute.attendees_emails %}
<h3>Not users</h3>
{{ minute.attendees_emails }}
{% endif %}
{% if minute.attendees_users.all %}
<h3>Users</h3>
<ul>
{% for user in minute.attendees_users.all %}
    <li>{{ user.username }}</li>
{% endfor %}
</ul>
{% endif %}
<h3>Notes</h3>
{{ minute.notes|markdownify}}


{% endblock %}
