{% extends 'common/internal_base.html' %}
{% load bootstrap %}

{% block content %}
<h1>New Minute</h1>
<form method="POST" action="{% url 'minutes-create' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" class="btn btn-primary btn-small">
</form>
{{ form.media }}
{% endblock %}
